#cloud-config
package_upgrade: true
users:
  - name: "{{ item.user }}"
    groups: wheel
    lock_passwd: false
    passwd: "{{ item.password }}"
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
      - "{{ item.ssh_key }}"
